# Configures the Jooq SBT plugin so it can hit the DB during compile to generate
# the database model classes. This is set up to work from within docker-compose,
# where the DB is running as "db". The credentials must match those set in
# hyppo.env and db.env.

database.jdbcDriver=org.postgresql.Driver
database.jdbcUrl=<same value you set in hypp.env>
database.username=<same value you set in db.env>
database.password=<same value you set in db.env>
