DATABASE_URL=jdbc:postgresql://db:5432/ingestion

# Credentials for Hyppo Manager to read integration JARs from code bucket and write data to data bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Where Hyppo manager will write data files in the S3 bucket
USER=
